* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: #C4A051;
}

#background {
  position: absolute;
  top: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 0px solid #222;
  z-index: 10;
}

#deathbot {
  position: absolute;
  top: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 0px solid #222;
  z-index: 20;
}

#fx {
  position: absolute;
  top: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 0px solid #222;
  z-index: 30;
}

#fps {
  position: absolute;
  top: 10px;
  width: 480px;
  height: 240px;
  right: 100px;
  border: 2px solid #FFF;
  z-index: 99;
}
